html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body {
  background: #3e4144;
  color: #333;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
}
.form.main {
  margin: auto;
  width: 800px;
  background-color: white;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.form-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem;
  
}
.label {
  padding: .5rem 1rem;
  background: #accf9c;
  margin: 0 1rem;
  border-radius: .5rem;
  width: 100%;
  text-align: center;
}
.label.bg-blue {
  background-color: #a9bfe4;
}
input {
  padding: .5rem 1rem;
  border-radius: .5rem;
  width: 10rem;
  border: 1px solid #ccc;
  outline: 0;
  background-color: white;
  opacity: 1 !important;
  color: #333;
}
input:focus {
  border-color: gray;
}
button {
  border: 1px solid transparent;
  outline: 0;
  padding: .5rem 1rem;
  margin: 0 1rem;
  border-radius: .5rem;
  width: 50%;
  background-color: #f2a16a;
  cursor: pointer;
}
button:hover {
  background-color: transparent;
  border-color: #f2a16a;
  color: #f2a16a;
}
.birth-time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.birth-time div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.birth-time input {
  width: 1.9rem;
  padding-left: .5rem;
  padding-right: .5rem;
  min-width: 2.9rem;
}
.birth-time label {
  margin: 0 .5rem;
}
.divider {
  display: block;
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  background-color: #eee;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #333 !important;
  -webkit-background-color: white !important;
}
select {
  padding: 0.5rem;
    background: white;
    color: #333;
    margin-left: 1rem;
    outline: 0;
}




